/* ==========================================================================
   Author's custom styles
   ========================================================================== */
*{
  font-family: Tahoma, Helvetica, Arial, "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
}
body {
    background: #000000;
    color: #acacac;
}

/*
  Relevant styles below
*/
header .topper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 10px;
}
header .navbar{
  min-height: 40px!important;
  background: url('../img/nav-bg.png');
  margin-bottom: 0!important;
}

header .navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
header .navbar-inverse .navbar-nav > li > a {
    color: #fff;
}
.nav.navbar-nav li:nth-child(1) img{
  position: relative;
  bottom: 1px
}
header .navbar .navbar-collapse {
    text-align: center;
}
header .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}
header .nav > li:last-child {
    border:0;
}
header .nav > li > a {
    position: relative;
    display: block;
    color: #e3e3e3;
}
header .nav > li > a > span > img{
margin-right: 10px;
}
header .head-top li{
  display:inline-block;
}
.nav-swiper{
  position: relative;
  top: 8px;
}
.nav-swiper .swiper-slide{
  width: 100px;
}
.nav-swiper .swiper-slide a{
  color: #fff;
  font-size: 12px;
  padding: 10px
}
.nav-swiper .swiper-slide span{
  margin-right: 8px;
}
.nav-swiper .swiper-slide span img{
  position: relative;
  bottom: 1px;
}
.language-cs{
  position: relative;
  bottom: 35px;
}
.language{
  margin-bottom: 5px;
}
.language select, .cs{
  cursor: pointer;
}
.language select{
  background: #ac916b url('../img/language-down.png') no-repeat;
  background-position: 74px 12px;
  border: solid 1px #d3ad76;
  color: #fff;
  border-radius: 5px;
  padding: 4px 25px 4px 10px;
  font-weight: 700;
  text-shadow: 0 2px #000;
  outline: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
main .add-banner{
  border-top: 1px solid #5d5d5d;
  border-bottom: 1px solid #5d5d5d;
}
.swiper-pagination{
  position: absolute;
  right: 1%;
  left: auto !important;
  width: auto !important;
}
.swiper-pagination span{
  display: block
}
.swiper-pagination-bullet{
  background: #3f3f3f;
  opacity: 1
}
.swiper-pagination-bullet-active{
  background: #c7863d
}
.login-form{
  text-align: center;
}
.login-form .form-group{
  margin: 0 3px;
}
.form-inline div:nth-child(1), .form-inline div:nth-child(2){
  width: 300px;
}
.form-inline div:nth-child(3){
  width: 145px;
}
.login-form-input{
  display: block;
  width: 100%;
  outline: 0;
  padding: 7px 12px 7px 45px;
  border: none;
  border-radius: 2px;
}
.login-form-input.email{
  background: #fff url('../img/email.png') no-repeat;
  background-position: 9px 3px
}
.login-form-input.password{
  background: #fff url('../img/password.png') no-repeat;
  background-position: 9px 3px
}
.login-form-input.captcha{
  background: #fff url('../img/captcha.png') no-repeat;
  background-position: 9px 3px
}
.login-form-captcha{
  display: inline-block;
}
.login-form-captcha img{
  height: 38px;
}
.captcha-refresh{
  position: relative;
  top: -9px;
  left: -2px
}
.captcha-refresh img{
  width: 17px;
  height: 17px;
}
.login-form-button{
  background: #b38d5f;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  border: none;
  border-radius: 2px;
  padding: 6px 40px
}
.login-form-button:hover{
  color: #fff
}
footer .border-top-bottom{
  border-top: 1px solid #5d5d5d;
  padding: 14px 0;
  border-bottom: 1px solid #5d5d5d;
}
footer h3{
  color: #fff;
  font-weight: 700;
  margin: 20px 0;
}
footer .footer-list li{
list-style-type: none;
line-height: 30px;
}

footer .footer-list li a{
text-decoration: none;
color: #ffffff;
}
footer .footer-list{
padding: 0;
}
footer .footer-icons .col-md-4 img{
  margin: 0 auto;
}
.footer-sitemap h3{
  font-size: 18px;
  margin: 20px 0 15px
}
.footer-sitemap ul li{
  font-size: 13px;
  letter-spacing: 1px
}
.footer-icons{
  padding: 0 0 20px
}
.footer-icons h3{
  font-size: 18px
}
.footer-icons .col-md-4:nth-child(1) img{
  width: 250px
}
.footer-icons .col-md-4:nth-child(2) img{
  width: 200px;
}
.footer-icons .col-md-4:nth-child(3) img{
  width: 330px;
}
.footer-copyright img{
  margin: 0 auto;
}
.footer-copyright{
  padding: 40px 0;
  font-size: 13px;
  letter-spacing: 1px;
}
.footer-copyright .col-md-3:nth-child(1) img, .footer-copyright .col-md-3:nth-child(2) img{
  width: 200px;
}
